extends layout

block content
 h1= title

  if(toShow == null)
    h2 No instance to detail
  else
    - let pinid = toShow._id
  
    - let pin_type = toShow.pin_type
    - let size = toShow.size
    - let actionid = "/resource/pin/" + pinid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='pinAttr mr-3') pin id is: 
      span(style="color:red") #{pinid}
    div.row
    
    div.row
    div(class='pinAttr mr-3') pin_type is: 
      span(style="color:red") #{size}
    div.row
    div(class='pinAttr mr-3') pinsize is:
      span(style="color:red") #{pin_type}
    button(class="btn btn-primary m-2" onclick="detailOnid()") Goback
    button(class="btn btn-danger m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the pin collection
    window.location.href='/pin'
    }
    function detailOnid() {
    window.location.href='/pin'
    }