extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let pinid = toShow._id
    
    - let pin_type = toShow.pin_type
    - let size = toShow.size
    - let actionid = "/resource/pin/" + pinid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='pinAttr mr-3') pin ID is: 
      span(style="color:red") #{pinid}
 
    div.row
    div(class='pinAttr mr-3') pin_type is: 
      span(style="color:red") #{pin_type}
    div.row
    div(class='pinAttr mr-3') size is: 
      span(style="color:red") #{size}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the pin collection
    window.location.href='/pin'
    }
    function deleteOnid() {
    console.log("starting delete")
    // delete first
    fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Delete succeded")
    window.location.href='/pin'
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
    });
    }